
* {
    box-sizing: border-box;
  }

/* my chosen color palette */
:root {
    --periwinkle: #9DACFF;
    --baby-blue: #E1F3FF;
    --purple: #624CAB;
    --white: #FBFEFB;
  }

/* properties for body styling */
@import url('https://fonts.googleapis.com/css?family=Amiko');
body {
    margin: 0;
    padding: 0;
    font-family: 'Amiko', 'Helvetica', 'Monaco', 'Lucida Console';
    color: var(--periwinkle);
    background-color: var(--white);
  }

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

/* properties for body styling */
@import url('https://fonts.googleapis.com/css?family=Amiko');
body {
    margin: 0;
    padding: 0;
    font-family: 'Amiko', 'Helvetica', 'Monaco', 'Lucida Console';
    color: var(--periwinkle);
    background-color: var(--white);
  }

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

/* general header properties */
header {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);
    box-shadow: 0 0 20px #AFD5FF;
  }

/* properties for text in header's h1 */  
header > h1 {
    color: var(--purple);
    background-color: var(--baby-blue);
    padding: 10px 15px 10px 40px;
    margin: 0;
    font-size: 70px;
  }